<section class="ftco-section img bg-hero" style="background-image: url('../../../assets/images/futuristic-smart-city-with-5g-global-network-technology.jpg');">
    <div class="container my-5">
        <div class="row justify-content-center">
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="wrapper">
                    <div class="row no-gutters justify-content-between">
                        <div class="col-lg-6 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-5">
                                <!-- Updated heading with icon in the same row -->
                                <div class="d-flex align-items-center mb-4">
                                    <h3 class="mb-0">Where to reach us</h3>
                                </div>

                                <!-- Info boxes -->
                                <div class="dbox w-100 d-flex g-2 align-items-start">
                                    
                                    <div class="text pl-4">
                                        <p><span>Address:</span> Saudi Arabia - Jeddah  -Al-Baghdadiyah Al-Gharbiyah District - Al-Jawhara Building - 8th Floor</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-start">
                                    
                                    <div class="text pl-4">
                                        <p><span>Phone:</span> <a href="tel://1234567920">+966126045848</a></p>
                                        <p><span></span> <a href="tel://1234567920">+966597993366</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-start">
                                   
                                    <div class="text pl-4">
                                        <p><span>Email:</span> <a href="mailto:basel@ncit.sa">infoncit.sa</a></p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="contact-wrap w-100 p-md-2 ">
                                 <!-- Google Map iframe -->
                                <div class="map-container">
                                    <iframe 
                                        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3712.332637986957!2d39.185283999999996!3d21.494687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjHCsDI5JzQwLjkiTiAzOcKwMTEnMDcuMCJF!5e0!3m2!1sen!2seg!4v1730817099636!5m2!1sen!2seg"
                                        width="100%" 
                                        height="400" 
                                        frameborder="0" 
                                        style="border:0" 
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
