<section class="hero-section position-relative">
    <video  autoplay muted loop playsinline class="hero-video">
        <source src="../../../assets/videos/7989443-hd_1920_1080_25fps.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
        <h1 class="display-4">WELCOME TO NCIT</h1>
        <button class="btn btn-info-outline my-5" [routerLink]="['/service']">GO TO SERVICES</button>
    </div>
</section>

<section class="goals-section">
    <div class="container my-5">
        <div class="heading-wrapper">
            <div class="line"></div>
            <h2 class="section-heading">Our Goals</h2>
            <div class="line"></div>
        </div>
        <div class="row my-5">
            <div class="col-md-6 text-column d-flex flex-column justify-content-center">
                <h3 class="goal-title">Our Goals</h3>
                <h4 class="goal-description text-muted">Our goal is to provide you organization with the appropriate support and guide you to select the right solution from our selected brands to meet your business needs or guide you to select the right solution from the local market in order to support your organization to meet our very quick generation.</h4>
            </div>
            <div class="col-md-6 image-column">
                <img src="../../../assets/images/cyber-security-company-developers-encrypting-cloud-processing-data-system-using-blockchain-technology-cybernetics-engineers-reviewing-lines-code-order-secure-mainframe-database-storage.jpg" alt="Goal Image" class="goal-image w-100 h-100">
            </div>
        </div>
    </div>
</section>


<section class="overview-section">
    <div class="container my-5">
        <div class="heading-wrapper">
            <div class="line"></div>
            <h2 class="overview-heading">COMPANY OVERVIEW</h2>
            <div class="line"></div>
        </div>
        <div class="row my-5">
            
            <div class="col-md-6 image-column">
                <img src="../../../assets/images/people-working-html-codes.jpg" alt="Goal Image" class="goal-image w-100 h-100">
            </div>

            <div class="col-md-6 text-column d-flex flex-column justify-content-center my-5">
                <h3 class="overview-title">COMPANY OVERVIEW</h3>
                <h4 class="overview-description text-muted">Network Consultant for IT Integrated Solutions (NCIT) is well known for the quality of services and range of Solutions. Network Consultant ITS has the most professional and solid Technical Services Team. To provide direct assistance on technical issues and Con­ sultation, we offer quick and accurate support and consultancy for our Integrated Services.
                    Network Consultant in IT and communication was 9 years old within this short period became a partner with F-Secure & Lepide & ITC also become a dominant force with greater coverage in the Kingdom.
                    
                    We offer Competitive price for Solution Providing, Competitive Price for Hardware Supply and Installation, Solution Customization Per Request, Competitive Maintenance Charges and Strong Warranty and Technical Support.</h4>
            </div>
        </div>
    </div>
</section>




<section class="ftco-section img bg-hero" style="background-image: url('../../../assets/images/futuristic-smart-city-with-5g-global-network-technology.jpg');">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-5">
                <h2 class="heading-section text-white">MAIN SOLUTION</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Card 1 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-cogs fa-3x mb-3" style="color:red;"></i>
                        <h5 class="card-title">CONTENT AND DOCUMENT MANAGEMENT</h5>
                        <p class="card-text">Online content management, enterprise knowledgebase and document management solutions.</p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-laptop fa-3x mb-3" style="color: red;"></i>
                        <h5 class="card-title">INTRANETS/EXTRANETS</h5>
                        <p class="card-text">Corporate portals, collaboration tools, corporate data repositories, document circulation, etc.</p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa fa-rocket fa-3x mb-3" style="color: red;"></i>
                        <h5 class="card-title">WORKFLOW MANAGEMEN</h5>
                        <p class="card-text">Business Process automation, planning and reporting tools, etc.</p>
                    </div>
                </div>
            </div>

            <!-- Card 4 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card text-center">
                    <div class="card-body">
                        <i class="fa-solid fa-puzzle-piece fa-3x mb-3" style="color: red;"></i>
                        <h5 class="card-title">ENTERPRISE RESOURCES PLANNING</h5>
                        <p class="card-text">Enterprise Resource Planning (ERP) broadly refers to the Automation and
                            R	Integration of a company's core business, to help monitor, manage and control the company's resources, for effective and simplified success.
    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



 

  <div class="container my-5">
    <div class="row">

        <div class="heading-wrapper my-5">
            <div class="line"></div>
            <h2 class="overview-heading">OUR SUPPORTED BRANDS</h2>
            <div class="line"></div>
        </div>
      <swiper-container
        [loop]="true"
        [navigation]="true"
        [autoplay]="{ delay: 5000, disableOnInteraction: false }"
        [breakpoints]="breakpoints"
      >
        <swiper-slide *ngFor="let item of collaborators" class="slide">
          <div class="card-wrapper">
            <div class="card-container">
              <img class="sliderImg" [src]="item.logo"  />
            </div>
          </div>

          
        </swiper-slide>
        
      </swiper-container>
    </div>
  </div>
  
  
  

  <app-contact></app-contact>
  