<div class="container-fluid">
    <div class="row background-image-wrapper">
      <div class="text-overlay">
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="heading-wrapper my-5">
            <div class="line"></div>
            <h2 class="overview-heading">SERVICES</h2>
            <div class="line"></div>
          </div>
    </div>
</div>
 


  <div class="container my-5">
    <div class="row">
      <!-- Loop through the `cards` array -->
      <div class="col-md-3 mb-4" *ngFor="let card of cards">
        <div class="card" style="height: 350px;">
          <!-- Image at the top of the card -->
          <img class="card-img-top" [src]="card.imgUrl" alt="Card image">
          <div class="card-body">
            <!-- Card title (e.g., title or name) -->
            <h5 class="card-title">{{ card.title }}</h5>
            <!-- Card description -->
            <p class="card-text">{{ card.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
