
.custom-navbar {
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: black;
}

.navbar-nav .nav-item {
  margin: 0 10px;
}

.navbar-nav .nav-link {
  cursor: pointer;
  font-weight:bold;
  font-size:20px;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  color: black !important;
  text-decoration: none; /* Ensures no underline by default */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: red;
  transition: width 0.5s ease;
}

.navbar-nav .nav-link:hover {
  color: #cd9c20;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.mx-auto {
  display: flex;
  justify-content: center;
  width: 100%;
}

body {
  padding-top: 70px;
}

.navbar-brand img {
  height: 80px; 
  max-height: 80px;
  width: auto; 
  max-width: 300px;
}

 

.ms-3 {
  margin-left: 1rem;
}
